<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kokoroAme.mapper.BlogMapper">
		<resultMap type="kokoroAme.entity.BlogUser" id="toBlog">
		<association property="username" column="user_id" javaType="kokoroAme.entity.User"
		select="kokoroAme.mapper.UserMapper.getNameById">
		</association>
	</resultMap>
	<select id="selectByIdWithName" resultMap="toBlog">
		select id,user_id ,title,description,content,created,field from m_blog order by created desc 
	</select>
</mapper>
